<div class="comment-container">
    <hr/>
    <div class="user-details mb-1">
        <div>
            <% render_profile_pic_if_attached(comment.user) do%>
                <%= image_tag comment.user.profile_picture, class: "comments-user-avatar" %>
            <% end %>

            <% render_default_pic_if_profile_pic_not_attached(comment.user) do%>
                <%= image_tag 'user_avatar.png', class: "comments-user-avatar" %>
            <% end %>

            <div>
                <span><strong><%= comment.user.email%></strong></span>
            </div>
        </div>
    </div>
    <div class="comment-text">
        <p><%=comment.content%></p>
    </div>
</div>