<%# TODO: WHAT TO DO????? %>
<!-- Modal -->
<div class="modal fade" id="blocked-users-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="blocked-users-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="blocked-users-modal-label">Blocked Users</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-dialog modal-dialog-scrollable">
            
            </div>
        </div>
    </div>
</div>