<% render_request_button_if_user_not_blocked(user) do %>
    <% render_unfollow_button(user) do %>
        <div class="button-container">
            <%# button_to "Unfollow", unfollow_path(user), method: :post, class: "btn btn-lg btn-outline-dark user-profile-btn w-100 unfollow", 'data-user-id':user.id %>
            <button class="btn btn-lg btn-outline-dark user-profile-btn w-100 unfollow" data-user-id=<%=user.id%> >Unfollow</button>
        </div>
    <%end%>

    <% render_cancel_request_button(user) do %>
        <div class="button-container">
            <%# button_to "Cancel Request", cancel_path(user), method: :post, class: "btn btn-lg btn-outline-dark user-profile-btn w-100 cancel", 'data-user-id':user.id%>
            <button class="btn btn-lg btn-outline-dark user-profile-btn w-100 cancel" data-user-id=<%=user.id%> >Cancel Request</button>
        </div>
    <%end%>

    <% render_follow_button(user) do %>
        <div class="button-container">
            <%# button_to "Follow", follow_path(user), method: :post, class: "btn btn-lg btn-outline-dark user-profile-btn w-100 follow", 'data-user-id':user.id %>
            <button class="btn btn-lg btn-outline-dark user-profile-btn w-100 follow" data-user-id=<%=user.id%> >Follow</button>
        </div>
    <%end%>
<% end %>