body {
  font-family: Verdana, Geneva, sans-serif;
}

div#root {
  display: flex;
  justify-content: space-evenly;
}

div#content {
  width: 75%;
  padding: 2.5rem 0;
}

/* bootstrap - extra styles*/
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: none;
  opacity: 0.5;
  background: none;
  border: none;
  padding: 0;
}

.close:hover {
  color: #000;
  opacity: 0.75;
  text-decoration: none;
}
