/* Message Modal */
#messagesModal > .modal-dialog {
  max-width: 33%;
  margin: 1.75rem auto;
}

#messagesModal > div.modal-dialog > div.modal-content {
  width: 100%;
  padding: 1rem;
}

#message-modal-body {
  padding: 1rem;
}

/* Messges - Show */

div.show-msg-container {
  width: 60%;
  margin: 1rem auto;
  padding: 1rem;

  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

div.show-msg-container > .attachment-contianer {
  width: 100%;
  border: 1px solid black;
  border-radius: 0.25rem;
}

div.show-msg-container > .attachment-contianer > img {
  width: 100%;
  border-radius: 0.25rem;
  object-fit: contain;
}
