div.notification-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #ddd;
  border-radius: 0.25rem;
  /* box-shadow: 1px 1px 1px; */

  padding: 1rem;
  margin-bottom: 0.25rem;
}

div.notification-container > p {
  margin: 0;
  font-size: 1.25rem;
}

div.notification-container > p > span {
  font-weight: 600;
}
