<div class="notification-container">
    <p><span><%= notification.sender %></span> <%= notification.message %></p>
    <%= link_to "View Post", notification.record, class: "view-post-btn link-dark", id:"notification-#{notification.id}", data: {"notification-id": notification.id} %>
</div>

