<% render_profile_buttons_if_my_profile(user) do%>
    <div class="button-container">
        <%= button_to "Edit Profile", edit_profile_path(user), method: :get, class: "btn btn-lg btn-outline-dark user-profile-btn w-100" %>
    </div>
    <div class="button-container">
        <button class="btn btn-lg btn-outline-dark user-profile-btn w-100 " data-bs-toggle="modal" data-bs-target="#storiesModal">Add Story</button>
    </div>
<% end %>

<% render_request_buttons_if_not_my_profile(user) do %>
    <%= render partial: "requests/request_buttons", locals:{user: user}%>
    <% render_share_profile_button_if_following(user) do %>
        <div class="button-container send-msg-btn">
            <button class="btn btn-lg btn-outline-dark user-profile-btn w-100 " data-bs-toggle="modal" data-bs-target="#messagesModal">Send Message</button>
        </div>
    <% end %>
<% end %>