<% if user.id == current_user.id %>
<%# To be shown if @user=current_user %>
    <div class="button-container">
        <%= button_to "Edit Profile", edit_profile_path(user), method: :get, class: "btn btn-lg btn-outline-dark user-profile-btn w-100" %>
    </div>
    <div class="button-container">
        <%# TODO: SHARE PROFILE %>
        <%= button_to "Share Profile", root_path, method: :get, class: "btn btn-lg btn-outline-dark user-profile-btn w-100" %>
    </div>
<% else %>
    <%= render partial: "requests/request_buttons", locals:{user: user}%>

    <%# TODO: THE MESSAGES BUTTON & IMPLEMENTATION %>
    <% if current_user.following?(user) || current_user.myself?(@user)%>
    <div class="button-container">
        <%= button_to "Send Message", root_path, method: :post, class: "btn btn-lg btn-outline-dark user-profile-btn w-100" %>
    </div>
    <% end %>
<% end %>